<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cosy.spring.batch.demo.dao.ClassDependsBeanDao" >
  <resultMap id="BaseResultMap" type="com.cosy.spring.batch.demo.bean.ClassDependsBean" >
    <id column="AT_INDX" property="atIndx" jdbcType="INTEGER" />
    <id column="CLASS_NAME" property="className" jdbcType="VARCHAR" />
    <result column="DEPEND_CLASS" property="dependClass" jdbcType="VARCHAR" />
    <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
    <result column="TIMESTAMP" property="timestamp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    AT_INDX, CLASS_NAME, DEPEND_CLASS, AUTHOR, TIMESTAMP
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.cosy.spring.batch.demo.bean.ClassDependsBeanKey" >
    select 
    <include refid="Base_Column_List" />
    from ClassDepends
    where AT_INDX = #{atIndx,jdbcType=INTEGER}
      and CLASS_NAME = #{className,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.cosy.spring.batch.demo.bean.ClassDependsBeanKey" >
    delete from ClassDepends
    where AT_INDX = #{atIndx,jdbcType=INTEGER}
      and CLASS_NAME = #{className,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cosy.spring.batch.demo.bean.ClassDependsBean" >
    insert into ClassDepends (AT_INDX, CLASS_NAME, DEPEND_CLASS, 
      AUTHOR, TIMESTAMP)
    values (#{atIndx,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, #{dependClass,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{timestamp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cosy.spring.batch.demo.bean.ClassDependsBean" >
    insert into ClassDepends
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="atIndx != null" >
        AT_INDX,
      </if>
      <if test="className != null" >
        CLASS_NAME,
      </if>
      <if test="dependClass != null" >
        DEPEND_CLASS,
      </if>
      <if test="author != null" >
        AUTHOR,
      </if>
      <if test="timestamp != null" >
        TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="atIndx != null" >
        #{atIndx,jdbcType=INTEGER},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="dependClass != null" >
        #{dependClass,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cosy.spring.batch.demo.bean.ClassDependsBean" >
    update ClassDepends
    <set >
      <if test="dependClass != null" >
        DEPEND_CLASS = #{dependClass,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        TIMESTAMP = #{timestamp,jdbcType=VARCHAR},
      </if>
    </set>
    where AT_INDX = #{atIndx,jdbcType=INTEGER}
      and CLASS_NAME = #{className,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cosy.spring.batch.demo.bean.ClassDependsBean" >
    update ClassDepends
    set DEPEND_CLASS = #{dependClass,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR},
      TIMESTAMP = #{timestamp,jdbcType=VARCHAR}
    where AT_INDX = #{atIndx,jdbcType=INTEGER}
      and CLASS_NAME = #{className,jdbcType=VARCHAR}
  </update>
</mapper>